@model Poupanca
@{
    ViewData["Title"] = "CdG - Minha poupança";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="width: 100%;">
                <div class="card-header">
                    <h5 style="text-align: center;"><small>Estes são os valores que você depositou na sua <b>poupança</b>.</small></h5>
                    <p class="text-info" style="text-align:center;"> Você pode adicionar um novo clicando no botão ao lado.</p>
                    <div class="row" style="margin-left: 5px; margin-top: -70px; text-transform: uppercase;">
                        <a class="blockquote blockquote-primary" asp-action="Cadastro" style="cursor: pointer"><small><b>+ Novo depósito</b></small></a>
                    </div>
                </div>

                <div class="card-body">
                    @if (ViewBag.Poupancas.Count == 0)
                    {
                        <p class="text-danger" style="text-align:center;"><b>VOCÊ AINDA NÃO DEPOSITOU NENHUM VALOR :'(</b></p>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>Banco</th>
                                    <th>Valor</th>
                                    <th>Data do Depósito</th>
                                    <th>Data de Cadastro</th>
                                </thead>
                                <tbody>
                                    @foreach (Poupanca item in ViewBag.Poupancas)
                                    {
                                    <tr>
                                        <td>@ViewBag.Banco</td>
                                        <td>@item.Valor</td>
                                        <td>@item.DataDeposito.ToString("dd/MM/yyyy")</td>
                                        <td>@item.DataCadastro.ToString("dd/MM/yyyy")</td>
                                        <td><a class="btn btn-sm btn-outline-warning btn-round btn-icon" asp-action="Edicao" asp-route-idPoupanca="@item.IdPoupanca"><i class="fa fa-edit"></i></a></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

