@model Poupanca
@{
    ViewData["Title"] = "CdG - Minha poupança";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="width: 100%;">
                <div class="card-header">
                    <h5 style="text-align: center;"><small>Estes são os valores que você cadastrou. </br> Você pode adicionar um novo clicando no botão ao lado.</small></h5>
                    <div class="row" style="margin-left: 5px; margin-top: -80px; text-transform: uppercase;">
                        <a class="blockquote blockquote-primary" asp-action="Cadastro" style="cursor: pointer"><small><b>+ Novo lancamento</b></small></a>
                    </div>
                </div>

                <div class="card-body">
                    @if (ViewBag.Poupancas.Count == 0)
                    {
                        <p class="text-danger" style="text-align:center;"><b>VOCÊ AINDA NÃO DEPOSITOU NENHUM VALOR :'(</b></p>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>Data de Cadastro</th>
                                </thead>
                                <tbody>
                                    @foreach (Poupanca item in ViewBag.Poupancas)
                                    {
                                    <tr>
                                        <td>@item.Banco</td>
                                        <td>@item.NumeroConta</td>
                                        <td>@item.Valor</td>
                                        <td>@item.DataCadastro.ToString("dd/MM/yyyy")</td>
                                        <td><a class="btn btn-warning" asp-action="Edicao" asp-route-idPoupanca="@item.IdPoupanca"><big><big><big>✎</big></big></big></a></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

