@model Lancamento
@{
    ViewData["Title"] = "Dashboard - Controle de Gastos";
}


<div class="img-relatorio">
    <div class="img-flecha">
        <img src="~/images/back-arrow.png" />
    </div>
    <div class="text-relatorio"><p class="text-dark">VER RELATÓRIO</p></div> <br />
    <img src="~/images/newspaper.png" />
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="width: 80%;">
                <div class="card-body">
                    @if (ViewBag.Lancamentos.Count == 0)
                    {
                        <p class="text-danger" style="text-align:center;"><b>NÃO HÁ LANÇAMENTOS CADASTRADOS</b></p>
                        <p class="text-info" style="text-align:center;">No menu ao lado, clique em LANÇAMENTOS para cadastrar!</p>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                <th>Valor</th>
                                <th>Lançamento</th>
                                <th>Descrição</th>
                                <th>Categoria</th>
                                <th>Qtd. parcela</th>
                                <th>Cartão</th>
                                <th>Cadastro</th>
                                </thead>
                                <tbody>
                                    @foreach (Lancamento item in ViewBag.Lancamentos)
                                    {
                                        <tr>
                                            <td>@item.Valor</td>
                                            <td>@item.DataLancamento.ToString("dd/MM/yyyy")</td>
                                            <td>@item.Descricao</td>
                                            <td>@ViewBag.Categoria</td>
                                            <td>@item.Parcelas</td>
                                            <td>@ViewBag.Cartao</td>
                                            <td>@item.DataCadastro.ToString("dd/MM/yyyy")</td>
                                            <td><a class="btn btn-warning" asp-action="Edicao" asp-route-idLancamento="@item.IdLancamento"><big>✎</big></a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="width: 80%;">
                <div class="card-body">
                    @if (ViewBag.Recebimentos.Count == 0)
                    {
                        <p class="text-danger" style="text-align:center;"><b>NÃO HÁ RECEBIMENTOS CADASTRADOS</b></p>
                        <p class="text-info" style="text-align:center;">No menu ao lado, clique em RECEBIMENTOS para cadastrar!</p>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                <th>Fornecedor</th>
                                <th>Descricao</th>
                                <th>Valor</th>
                                <th>Data de Recebimento</th>
                                <th>Data de cadastro</th>
                                <th>Editar</th>
                                </thead>
                                <tbody>
                                    @foreach (Recebimento item in ViewBag.Recebimentos)
                                    {
                                        <tr>
                                            <td>@item.Fornecedor</td>
                                            <td>@item.Descricao</td>
                                            <td>@item.Valor</td>
                                            <td>@item.DataRecebimento.ToString("dd/MM/yyyy")</td>
                                            <td>@item.DataCadastro.ToString("dd/MM/yyyy")</td>
                                            <td><a class="btn btn-warning" asp-action="Edicao" asp-route-idRecebimento="@item.IdRecebimento"><big><big><big>✎</big></big></big></a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
